  <!-- views/shared/footer.ejs -->

<div id="footerw container">
  <div id="main">
      <p>
        &copy;  <span id="currYear"></span> wooow  &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
      </p>
  </div>
</div>


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../js/iexchange.js"></script>
<script src="../js/loginValidationForm.js"></script>
<script src="../js/validationProductForm.js"></script>
<script src="../js/error.js"></script>
