<!-- views/shared/navbar.ejs -->

<nav class="navbar navbar-custom navbar-fixed-top menu">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="brand-1">w</span><span class="brand-2">o</span><span class="brand-3">o</span><span class="brand-4">o</span><span class="brand-5">w</span></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        
        <% if(typeof user == "undefined"){  %>
        <li>
          <a href="/signup">Join today</a>
        </li>
        <li>
          <a href="/signin">Sign In</a>
        </li>
        <% } %>
          
        <% if(typeof user != "undefined"){  %>
        <li>
          <a  href="/product-new">New Product</a>
        </li>
        <li>
          <a href="/product-manage">Manage product</a>
        </li>
        
        <li class="dropdown">
          <ul class="nav navbar-nav navbar-right ">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle hoverClass" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>  <%= typeof user != "undefined" ? user.lastName : "" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/signout" title="sign out">sign out</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
          <% } %>
      </ul>



    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
