
	<!-- views/manage/index.ejs -->

	<!DOCTYPE html>
	<html lang="en" ng-app='wooowApp'>
		<head>
			<% include ../shared/header %>
			<title>Search Lead</title>
		</head>
		<body class="container">

			<header>
				<% include ../shared/navbar %>
			</header>

			<main>
				<br />
				<br />

				<form method="get" role="search" action="/search-lead/search">
	
					<div class="form-group row">
						<div>	   
							<div class="input-group">
								<input type="text" class="form-control" title="earch by Product Name" name="word"  placeholder="new feature soon... Search productS">
								<span class="input-group-btn">
									<button class="btn btn-primary disabled" type="submit">Search &raquo;</button>
								</span>
							</div>
						</div>
					</div>

				</form>

				<div class="row" ng-controller="CustomerProductCtrl" ng-init="init('')">

				<div ng-cloak>
					
					<div ng-show="loading">Loading...</div>
				
						<div ng-hide="loading">

								<!-- error message in the box -->
								<div id="errorShow" ng-if="error && message.length > 0"  class="alert alert-danger alert-dismissible fade in" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<span id="gen_error">{{message}}</span>
								</div>

								<!-- success message in the box -->
								<div id="successShow"  ng-if="!error && message.length > 0" class="alert alert-success alert-dismissible fade in" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<span id="gen_success">{{message}}</span>
								</div>

							<div ng-if="totalItems > 0">

								<tps-pagination	label-prev = "prev" 
												label-succ = "succ" 
												label-totalitems = "totalItems"
												label-currentpage = "currentPage"
												label-numtotalofpage = "numTotalOfPage"
												page-size-value = "selectpageSize"
												page-sizes = "pageSizes"
												func-selected-item-changed = "selectedItemChanged(ItemChanged)"
												func-prevpage = "prevPage()"
												func-nextpage = "nextPage()">
								</tps-pagination>
						
								<div ng-include="'/partials/product-manage.html'"></div>

								<tps-pagination	label-prev = "prev"
												label-succ = "succ" 
												label-totalitems = "totalItems"
												label-currentpage = "currentPage"
												label-numtotalofpage = "numTotalOfPage"
												page-size-value = "selectpageSize"
												page-sizes = "pageSizes"
												func-selected-item-changed = "selectedItemChanged(ItemChanged)"
												func-prevpage = "prevPage()"
												func-nextpage = "nextPage()">
								</tps-pagination>
							</div>
							<div ng-if="totalItems < 1">
								<div id="er-ht">Insert your new product now</div>
								<a href="/product-new" class="btn btn-primary btn-large">Get Started...</a>
							</div>
						</div>
					</div>
				</div>
			</main>

			<footer>
				<% include ../shared/footer %>
			</footer>	

			
		</body>
	</html>