
<!-- views/signup/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app='iexchangeApp'>
<head>
    <% include ../shared/header %>
	<title>Sign Up</title>
</head>
<body class="container">

		<header>
			<% include ../shared/navbar %>
		</header>

		<form method="POST" action="/signup" onsubmit="return validationSignUpForm()" >
			<h1 class="well">Create account</h1>

			<!-- error message in the box -->
			<div id="errorShow" style="display:none" class="alert alert-danger alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span id="gen_error"></span>
			</div>

			<input type="hidden" name="err_mess" id="err_mess" value="<%= typeof errorMessage != "undefined" ? errorMessage : "" %>" />

			<div class="col-lg-12 well">
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>First name</label>
								<input type="text" id="first_name" name="first_name" placeholder="Enter First name Here.." class="form-control input-lg">
							</div>		
							<div class="col-sm-6 form-group">
								<label>Last name</label>
								<input type="text" id="last_name" name="last_name" placeholder="Enter Last name Here.." class="form-control input-lg">
							</div>	
						</div>	
						<div class="form-group">
							<label>Email Address</label>
							<input type="text" id="join_email" name="join_email" placeholder="Enter Email Address Here.." class="form-control input-lg">
						</div>	
						<div class="form-group">
							<label>Password</label>
							<input type="password" id="join_password" name="join_password" placeholder="Enter Password Here.." class="form-control input-lg">
						</div>
						<button class="btn btn-lg btn-info">Join Now</button>	
						<div class="form-group">	
							<span class="pull-right">Already on wooow? <a href="/signin">Sign in</a></span><span><a href="#">Need help?</a></span>		
						</div>	
					</div>
				</div>
			</div>
		</form> 

		<footer>
			<% include ../shared/footer %>
		</footer>
	
	</body>
</html>
