
<!-- views/home/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app='wooowApp'>
<head>
    <% include ../shared/header %>
	<title>Home</title>
</head>
<body class="container">

    <header>
        <% include ../shared/navbar %>
    </header>
	<br>
	<br>
	<br>
	<br>
	
	<!-- <div class="view-container">
		<div ng-view class="view-frame"></div>
	</div>  -->

	<div class="row" ng-controller="ProductListCtrl" ng-init="init('')"> 

		<div ng-cloak>

			<div ng-show="loading">Loading...</div>
			<div ng-hide="loading">

					<div ng-include="'/partials/product-list.html'"></div>

					<tps-pagination	label-prev = "prev" 
											label-succ = "succ" 
											label-totalitems = "totalItems"
											label-currentpage = "currentPage"
											label-numtotalofpage = "numTotalOfPage"
											page-size-value = "selectpageSize"
											page-sizes = "pageSizes"
											func-selected-item-changed = "selectedItemChanged(ItemChanged)"
											func-prevpage = "prevPage()"
											func-nextpage = "nextPage()">
					</tps-pagination>
			</div>

		</div>

	</div>

    <br>
	<br>

    <footer>
        <% include ../shared/footer %>
    </footer>
    
</body>
</html>