
<!-- views/home/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app='iexchangeApp'>
<head>
    <% include ../shared/header %>
	<title>Home</title>
</head>
<body class="container">

    <header>
        <% include ../shared/navbar %>
    </header>
	<br>
	<br>
	<br>
	<br>
	
    <div class="view-container">
		<div ng-view class="view-frame"></div>
	</div>

    <br>
	<br>

    <footer>
        <% include ../shared/footer %>
    </footer>
    
</body>
</html>