
<!-- views/signin/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app='wooowApp'>
<head>
    <% include ../shared/header %>
	<title>Sign In</title>
</head>
<body class="container">

		<header>
			<% include ../shared/navbar %>
		</header>


		<form  method="POST" action="/signin" onsubmit="return validationSignInForm()" >
			<h1 class="well">Sing In</h1>

			<!-- error message in the box -->
			<div id="errorShow" style="display:none" class="alert alert-danger alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span id="gen_error"></span>
			</div>

			<input type="hidden" name="err_mess" id="err_mess" value="<%= typeof errorMessage != "undefined" ? errorMessage : "" %>" />

			<div class="col-lg-12 well">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label>Email Address</label>
							<input type="text" id="join_email" name="join_email" value="<%= typeof view_email == "undefined" ? "" : view_email %>" placeholder="Enter Email Address Here.." class="form-control input-lg">
						</div>	
						<div class="form-group">
							<label>Password</label>
							<input type="password" id="join_password" name="join_password" placeholder="Enter Password Here.." class="form-control input-lg">
						</div>
						<button class="btn btn-lg btn-info">Sign In</button>	
						<a href="/" class="btn btn-lg btn-info pull-right" role="button">Cancel</a>
						<div class="form-group">	
							<span class="pull-right"><a href="/signup">Register</a></span><span><a href="#">Need help?</a></span>	
						</div>	
					</div>
				</div>
			</div>
		</form> 

		<footer>
			<% include ../shared/footer %>
		</footer>
	
	</body>
</html>
