
<!-- views/about/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app='wooowApp'>
<head>
    <% include ../shared/header %>
	<title>About</title>
</head>
<body class="container">

    <header>
        <% include ../shared/navbar %>
    </header>

	<img src="/images/Thong_Thong_Paul_Stephan.jpg" alt="" class="img-circle"> <h1>Hi! my name is Paul Stephan Thong Thong</h1>
	<h1>You can Call me Paul If you want <img src="/images/smiled.png" alt="" width="50" height="50"> </h1> 
	<h1>I'm a software developer for more than six years</h1>
	<h1>I'm involved in front-end and back-end development</h1>
	<h1>I'm using mostly .Net framework and others web technologies such as :</h1>
	<h1>AngularJS, MVC.NET, CSS, Javascript, JQuery, Entity Framework, Bootstrap</h1>
	<h1>Currently I'm focused in Node.js application.</h1>
    <footer>
        <% include ../shared/footer %>
    </footer>
    
</body>
</html>
